/************* FOR MOBILES : WIDTH BELOW 576px **********/
@media screen and (max-width: 576px) {
  .header {
    /* border: 2px red solid; */
    min-height: 11.4rem;
    padding: 3rem 3rem;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .header .logo {
    /* border: 2px blue solid; */
    float: none;
    width: 100%;
  }
  .logo > a {
    /* border: 2px green solid; */
    width: fit-content;
  }

  .menu-icon {
    /* border: 2px maroon solid; */
    display: inline-block;
    margin-left: 13.3rem;
  }

  .logo > a {
    display: block;
    margin: 0 auto;

    font-size: 3rem;
    line-height: 4.5rem;
    text-align: center;
  }

  .span {
    color: var(--color-purple);
  }
  .navbar {
    /* border: 2px green solid; */
    margin: 5px;
    float: none;
  }
  .navlist {
    /* border: 2px maroon solid; */
    max-width: fit-content;
    margin: 5px auto;
  }

  .navlist > li {
    /* border: 2px gold solid; */
    display: block;
    margin-bottom: 4.8rem;
    height: 2.4rem;
    font-size: 1.6rem;
    text-align: center;
  }

  .navlist > li:first-child {
    color: var(--color-purple);
  }

  nav > ul > li:last-child {
    margin-bottom: 0;
  }
  .btn {
    border-radius: 4px;
    padding: 1rem;
    font-size: 1.6rem;
  }

  main,
  footer {
    margin: 0rem 4rem;
  }

  .button-section .btn {
    margin: 0 auto;
  }
  .button-section .btn + div {
    margin-top: 0.5rem;
  }

  .button-section .btn > a {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .col-6-of-12 {
    /* border: 2px blue solid; */
    display: block;
    margin-top: 5rem;
    margin-bottom: 4.8rem;
    min-width: 100%;
  }

  .first-section .row {
    /* border: 2px red solid; */
    width: 100%;
    /* display: table; */
  }
  .first-section-field {
    /* border: 2px green solid; */
    max-width: 100%;
    height: auto;
    /* display: table-footer-group; */
  }

  aside > img {
    /* border: 2px blue solid; */
    float: none;
    width: 100%;
    height: auto;
    display: block;
    /* display: table-header-group; */
  }

  .button-section {
    margin-top: 4.8rem;
  }

  .button-section > .btn {
    margin-right: 1.2rem;
  }

  .col-3-of-12 {
    min-width: 100% !important;
    display: block;
    margin: 1rem auto;
  }
  .second-section {
    /* border: 2px green solid; */
    margin: 0;
  }
  .second-section .row .secondary-heading {
    text-align: center;
  }

  .second-section > .row > div {
    text-align: center;
  }

  .image-container {
    margin-top: 4rem;
  }
  .third-heading {
    margin: 5px;
    width: auto;
    word-break: break-all;
  }

  .third-section {
    background-color: #f8f8f8;
    padding: 7.2rem 0;
  }

  .third-section-field {
    margin: 0 auto;
    text-align: center;
  }

  .third-section .thumbnails {
    margin-top: 4rem;
  }
  .col-4-of-12 {
    display: block;
    width: 100% !important;
    margin: 5rem auto;
  }
  .col-4-of-12 > div > img {
    width: 100%;
    height: auto;
  }

  .third-section > .button-section {
    margin: 7.2rem;
    text-align: center;
  }

  footer {
    /* border: 2px red solid; */
    background-color: var(--color-footer);
    color: white;
  }

  footer > .row {
    /* border: 2px blue solid; */
    margin: 5px;
    padding: 7.2rem 0;
  }
  .info {
    /* border: 2px red solid; */
    padding: 0;
  }
  .info .footer-heading {
    /* border: 2px green solid; */
  }
  .info .footer-heading:nth-child(2) {
    /* border: 2px yellow solid; */
    margin-top: 10px;
  }
  .col-6-of-12 {
    display: block;
    width: 100% !important;
  }

  .footer-heading .primary-heading {
    word-break: break-all;
  }
  .footer-heading > p {
    color: rgba(255, 255, 255, 0.8);
  }

  footer > .copyright {
    background-color: #23222f;
    font-size: 1.4rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding: 1.9rem 0;
    height: 5.6rem;
  }

  h4.footer {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.98rem;
  }

  .info .footer-heading {
    /* border: 2px red solid; */
    margin-top: 4.8rem;
    float: none;
    display: inline-block;
  }
  .info .footer-heading:nth-child(2) {
    margin-left: 8.9rem;

    margin-top: 0;
  }
  .info .footer-heading:last-child {
    display: block;
    margin-top: 4.8rem;
  }
  .info .footer-heading:last-child {
    margin-right: 0;
  }
}
