.Main__seventh-section {
  /* border: 2px red solid; */
  display: flex;
  margin-top: 15rem;
}
/* .Main__seventh-section__left-content {
  border: 2px blue solid;
} */
.Main__seventh-section__left-content > img {
  /* border: 2px black solid; */
  max-width: 90%;
}
.Main__seventh-section__right-content {
  /* border: 2px cyan solid; */
  max-width: 55.4rem;
  margin-right: 5rem;
}
.Main__seventh-section__right-content > h2 {
  /* border: 2px blue solid; */
  font-size: 4rem;
  line-height: 6.4rem;
  font-weight: 700;
  color: #2f327d;
  /* display: flex; */
  /* justify-content: center; */
}
.Main__seventh-section__right-content > h2 > span {
  font-weight: 600;
  color: #f48c06;
  padding-left: 1rem;
}
.list {
  /* border: 2px red solid; */
  display: flex;

  margin: 2rem;
}
.list > img {
  /* border: 2px blue solid; */
  width: 4rem;
  height: 4rem;

  background: #fbfbfb;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
  margin-right: 3rem;
  margin-top: 1rem;
}
.list > p {
  color: #696984;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.96rem;
  /* max-width: 110.1rem; */
  /* margin: 0 auto; */
}
.big-green-ellipse {
  z-index: -1;
  /* border: 2px blue solid; */
  position: relative;
  top: -60rem;
  left: 0;
}
.blue-ellipse {
  /* border: 2px blue solid; */
  position: relative;
  top: -72rem;
  left: 0;
}
.big-voilet-ellipse {
  z-index: -1;
  /* border: 2px blue solid; */
  position: relative;
  top: -10rem;
  left: 45rem;
}
.red-ellipse {
  /* z-index: -1; */
  /* border: 2px blue solid; */
  position: relative;
  top: -15rem;
  left: 28rem;
}
